@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
$primary-font: "DM sans";

//background-colors
$bg: #e5e5e5;
$bg-white: #ffffff;
$bg-primary: #142683;
$bg-blue: #438af6;
$bg-orange: #ff9142;
$bg-red: #fb5e5e;
$bg-green: #2ec971;
$bg-grey: #ebf0f5;

//text-colors
$text-primary: #1e272e;
$text-secondary: #566474;
$text-grey-light: #9eaab7;
$text-blue-dark: #222f3e;
